* {
    box-sizing: border-box;
}
body {
  font-family: 'Roboto Mono', monospace;
  background-color: #F1F1F2;
}  
input[type="text"], input[type="number"] {
  padding: 10px;
  width: 250px;
  margin: 15px;
  outline: none;
  border:none;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
input[type="submit"] {
  background-color: #2E4600;
  border: none;
  color: white;
  padding: 12px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  font-size: 20px;
}
input[type="submit"]:hover {
  cursor: pointer;
  box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2);
  background-color: #426600;
  transition: 0.3s;
}
input[type="text"]:hover, input[type="number"]:hover {
  cursor: pointer;
  box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
li {
  padding: 10px;
}
li, img {
  max-width: 750px;
}
fieldset {
  border: none;
}
h1 {
  font-size: 35px;
}
.title, label {
  color: #2E4600;
  text-align: center;
}
.error-message {
  color: red;
  font-size: 20px;
}
.hidden {
  display: none;
}
.container {
  max-width: 800px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form-container, fieldset {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.search-result-title {
  background-color: #916023;
  color: white;
  padding: 14px 25px;
  text-align: center; 
  text-decoration: none;
  display: inline-block;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 100%;
}
.search-result-title:hover {
  background-color: #b7793b;
  box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2);
  cursor: pointer;
}
.park-directions-button:link, .park-directions-button:visited {
  display: block;
  background-color: #2E4600;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  padding: 14px 25px;
  margin-top: 35px;
  margin: 35px auto 35px auto;
  max-width: 185px;
  text-align: center;
  font-size: 16px;
  color: white;
  font-weight: bold;
  text-decoration: none;
}
.park-directions-button:hover, .park-directions-button:active {
  box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2);
  background-color: #426600;
  transition: 0.3s;
}
.park-info-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 10px 25px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.15);
  background-color: rgb(245, 245, 245);
}
.extended-nps-container {
  margin-top: 25px;
}
.forecast-container {
  border-bottom: 2px solid #DCDCDC;
}
.day-container {
  text-align: center;
}
.forecast-title {
  align-self: center;
  font-size: 25px;
  margin-bottom: 0;
}
.forecast-day {
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.forecast-temp {
  font-size: 14px;
}
.forecast-icon {
  max-width: 40px;
}
@media only screen and (min-width: 768px) {
  /* On desktop, organize forecast horizontally */
  .forecast-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 20px;
  }
  .forecast-icon {
    max-width: 50px;
  }
}