* {
    box-sizing: border-box;
}
body {
  font-family: 'Roboto Mono', monospace;
  background-color: #F1F1F2;
}  
input[type="text"], input[type="number"] {
  padding: 10px;
  width: 250px;
  margin: 15px;
  outline: none;
  border:none;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
input[type="submit"] {
  /* font-family: 'Open Sans', sans-serif; */
  background-color: #2E4600;
  border: none;
  color: white;
  padding: 12px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  font-size: 20px;
}
input[type="submit"]:hover {
  cursor: pointer;
  box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2);
  background-color: #426600;
  transition: 0.3s;
}
input[type="text"]:hover, input[type="number"]:hover {
  cursor: pointer;
  box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
li {
  padding: 10px;
}
li, img {
  max-width: 750px;
}
fieldset {
  border: none;
}
h1 {
  font-size: 35px;
}
.error-message {
    color: red;
    font-size: 20px;
}
.hidden {
  display: none;
}
.title, label {
  color: #2E4600;
  text-align: center;
}
.search-result-title {
  background-color: #916023;
  color: white;
  padding: 14px 25px;
  text-align: center; 
  text-decoration: none;
  display: inline-block;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  min-width: 100%;
}
.search-result-title:hover {
  background-color: #b7793b;
  box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2);
  cursor: pointer;
}
.container {
  max-width: 800px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form-container, fieldset {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.park-info-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.park-planner-collapsible-container {
  background-color: skyblue;
  height: 100%;
  width: 100%;
  /* display: inline-block; */
}

/* FORECAST STYLES */
.forecast-container {
  display: inline-block;
}
.forecast-title {
  font-size: 20px;
  text-align: center;
  color: #F68B1F ;
}
.forecast-day {
  font-weight: bold;
}
.forecast-phrase {
}
.forecast-min {
}
.forecast-max {
}

#selected-park-li {
    /* for dev ease */
  /* background-color: gray;   */

}
/* To solve the size issue when the LI is converted to a planner window. 
1) add some unique id to the  containing LI  
2) set size and height around 800px or something responsive
3) set some focuser such that the window autoscrolls so the park title is at the top fof the screen, and the 
planner window takes up all of the screen.
4) add some transition effects, based on collapsible card style
5) consider adding a background color to align it logically with the brown title. */